
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1d1d1d;
    text-align: center;
    
    min-height: 80vh;
}

.container {
    max-width: 800px;
    margin: auto;

} 

.semaforo {
    background: linear-gradient(to bottom , #2c2c2c, #1a1a1a);
    width: 120px;
    height: 320px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: 
        inset 0 0 10px rgba(0, 0, 0, 0.8),
        2px 2px 15px rgba(0, 0, 0, 0.6),
        -4px -4px 10px rgba(255, 255, 255, 0.1)
    ;
    border: 3px solid #2b2b2b;
}

.led {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    background: radial-gradient(circle at 30% 30% , #222, #000);
    box-shadow: 
    inset -3px -3px 10px rgba(0, 0, 0, 0.6),
    3px 3px 10px rgba(255, 255, 255, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: 0px 0px 15px #000;
}

.vermelho {
    background: radial-gradient(circle at 30% 30% , #ff6b6b, #a00000);
    box-shadow: 0 0 100px red, inset -2px -2px 6px #ff9999;
}

.amarelo {
    background: radial-gradient(circle at 30% 30% , #fff176, #bba700);
    box-shadow: 0 0 100px yellow, inset -2px -2px 6px #ffff99;
}

.verde {
    background: radial-gradient(circle at 30% 30% , #81c784, #006400);
    box-shadow: 0 0 100px green, inset -2px -2px 6px #a0f5a0;
}

.controles{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btvermelho{
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 107, 107, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btamarelo{
    background-color: #ffc400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(248, 255, 107, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btverde{
    background-color: #51ff00;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(156, 255, 107, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.automatico{
    background-color: #00bfff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.intermitente{
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(101, 101, 101, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}


.desligado{
    background-color: #00fff2;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 251, 255, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    opacity: 0.8;
    
}

#mqtt-status {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.status-desconectado {
    background-color: red;
}

.status-reconectando {
    background-color: orange;
}

.status-conectado {
    background-color: green;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
}

#overlay.active{
    visibility: visible;
}

.spinner{
    width: 60px;
    height: 60px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
